[submodule "extern/imgui"]
	path = app/extern/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "extern/glfw"]
	path = app/extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "lib/prl2/extern/ThreadPool"]
	path = lib/prl2/extern/ThreadPool
	url = git@github.com:progschj/ThreadPool.git
[submodule "lib/prl2/extern/spdlog"]
	path = lib/prl2/extern/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "lib/prl2/extern/stb"]
	path = lib/prl2/extern/stb
	url = git@github.com:nothings/stb.git
[submodule "lib/prl2/extern/tinyexr"]
	path = lib/prl2/extern/tinyexr
	url = git@github.com:syoyo/tinyexr.git
[submodule "lib/prl2/extern/oidn"]
	path = lib/prl2/extern/oidn
	url = git@github.com:OpenImageDenoise/oidn.git
[submodule "lib/prl2/extern/tbb"]
	path = lib/prl2/extern/tbb
	url = git@github.com:intel/tbb.git
  ignore = dirty
[submodule "app/extern/glm"]
	path = app/extern/glm
	url = git@github.com:g-truc/glm.git
